 <div class="user-details">
  <h1> devfallingstar$ whoami </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Frontend</h2>
      <i class="devicon-swift-plain colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-react-original colored"></i>
      <p>Swift와 Objective-C를 이용한 iOS Application</p>
      <p>Java와 Android SDK를 이용한 Android OS Application</p>
      <p>React 및 React Native를 이용한 웹 및 하이브리드 Application</p>
    </div>
    <div class="tech">
      <h2>Backend</h2>
      <i class="devicon-python-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p>Python과 Flask를 이용한 REST API 기반 서버 개발</p>
      <p>Node.js를 이용한 Backend 서버 개발(초보)</p>
    </div>
    <div class="tech">
      <h2>Research</h2>
      <i class="devicon-docker-plain colored"></i>
      <i class="devicon-github-plain colored"></i>
      <p>다양한 분야에 대해서 공부를 하고 있습니다. 딥러닝, 네트워크, 시스템, VR 영상 스트리밍을 주로 연구합니다.</p>
    </div>
</div>
