<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="VR" src="{{ "/assets/img/VR.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> VR Streaming with Cumulative FoV Data </h3>
    <ul>
      <li> 누적 시야각 데이터를 활용한 VR 영상 스트리밍</li>
      <li> Client : Android OS</li>
      <li> Server : Python and EdgeX</li>
    </ul>
    <p>누적 시야각 데이터를 활용하여 전송되는 영상 데이터의 양을 줄이는 방식에 대해서 연구하고 있습니다. 엣지 컴퓨팅 환경을 통한 Cache와 Streaming을 지원할 예정이기에 EdgeX를 공부하는데에 많은 시간을 투자하고 있습니다.</p>
    <a class="project-link" href="#">Private</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Repos" src="{{ "/assets/img/Repos.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> ETC </h3>
    <ul>
      <li> Python</li>
      <li> Swift and Objective-C</li>
      <li> Java with Android SDK</li>
    </ul>
    <p>개발자는 배움을 게을리 하면 안됩니다. 따라서 메인 프로젝트 외에도 다양한 프로젝트를 스스로 제작/진행하고 있습니다. 프로젝트는 github에서 참고해주세요. 건설적인 토론, 특정 repo에 대한 issue와 PR 등록은 언제나 환영합니다(정말로요)</p>
    <a class="project-link" href="https://github.com/devFallingstar?tab=repositories">Check it out</a>
  </div>
</div>
